@{ 
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="img-responsive" src="~/img/Simple-PoS-Banner.jpg" alt="Banner" width="1920" height="480">
    <h1>Simple Point of Sale System</h1>
    <h2>Welcome to Simple PoS</h2>
    <p>Unleash the power of an open source point of sale system.</p>
    <p><a class="btn btn-default" href="Home/About">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Manage customers and view purchase history.</p>
        <p><a class="btn btn-primary" href="Customers">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Invoices</h2>
        <p>Start a new invoice or view past invoices.</p>
        <p><a class="btn btn-primary" href="Invoices">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Inventory</h2>
        <p>Add, update, or delete inventory.</p>
        <p><a class="btn btn-primary" href="Products">Go &raquo;</a></p>
    </div>
</div>